/Progetto0/ProvaProvina/nbproject/private/
/Progetto0/ProvaProvina/build/
/Progetto0/ProvaProvina/dist/
/Progetto1/JavaApplication8/nbproject/private/
/Progetto1/Veicoli/nbproject/private/
/Progetto1/Veicoli/build/
/Progetto1/FiguraGeometrica/nbproject/private/
/Progetto1/FiguraGeometrica/build/
/Progetto1/Stack/nbproject/private/
/Progetto1/Prodotti/nbproject/private/
/Progetto1/Prodotti/build/
/Progetto1/Negozio/nbproject/private/
/Progetto1/Negozio/build/
